{% include 'partials/header.html' %}

<section id="aboutUs">
	<div class="container">

	</div><!--/container-->
	<div class="aboutus-banner">
		<div class="abt-overlay"></div>
		<div class="container">
			<div class="abt-content">
				<h2>What's special about textnook?</h2>
				<button class="btn btn-knowmore">Know More</button>
			</div>
		</div>
	</div>
	<div class="abt-body">
		<div class="container">
			<div class="abt-desc">
				<div class="abt-tab">
					<ul>
						<li class="active" data-id="about-us">About Us</li>
						<li data-id="our-team">Our Team</li>
						<li data-id="testimonial">Testimonial</li>
					</ul>
				</div>
				<div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="abt-desc-content">
						<div class="abt-aboutUs child" id="about-us">
							<div class="abt-imgWrap">
								<img src="/midway/static/main/images/abt1.png">
							</div>
							<h4>What does textnook do in making buying & selling experience so awesome?</h4>
							<P>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem. In fringilla mi in ligula. Pellentesque aliquam quam vel dolor. Nunc adipiscing. Sed quam odio, tempus ac, aliquam molestie, varius ac, tellus. Vestibulum ut nulla aliquam risus rutrum interdum. Pellentesque lorem. Curabitur sit amet erat quis risus feugiat viverra.
							</P>
							<P>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem. In fringilla mi in ligula. Pellentesque aliquam quam vel dolor. Nunc adipiscing. Sed quam odio, tempus ac, aliquam molestie, varius ac, tellus. Vestibulum ut nulla aliquam risus rutrum interdum. Pellentesque lorem. Curabitur sit amet erat quis risus feugiat viverra.
							</P>
							<P>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem. In fringilla mi in ligula. Pellentesque aliquam quam vel dolor. Nunc adipiscing. Sed quam odio, tempus ac, aliquam molestie, varius ac, tellus. Vestibulum ut nulla aliquam risus rutrum interdum. Pellentesque lorem. Curabitur sit amet erat quis risus feugiat viverra.
							</P>
						</div>
						<!-- About us ends here -->

						<div class="abt-team text-center hide child" id="our-team">
							<div class="abt-title">
								Brains beneath the surface
							</div>
							<p class="abt-content-p">
								For the students of U.P.S.C. (Engg services); IAS (Engg. group); B.Sc Engg; Diploma and other competitive courses.
								More than one thousand Objective Type Questions from various examining bodies have been added. The solution for Important Objective type Question. Important Objective examining bodies have been added.
							</p>
							<ul class="abt-team-list">
								<li>
									<span class="abt-team-imgHolder">
										<img src="/midway/static/main/images/u1.png">
									</span>
									<div class="abt-team-uName">
										Lorem Ipsum
									</div>
									<div class="abt-team-uDesgn">
										Lorem
									</div>
								</li>
								<li>
									<span class="abt-team-imgHolder">
										<img src="/midway/static/main/images/u1.png">
									</span>
									<div class="abt-team-uName">
										Lorem Ipsum
									</div>
									<div class="abt-team-uDesgn">
										Lorem
									</div>
								</li>
								<li>
									<span class="abt-team-imgHolder">
										<img src="/midway/static/main/images/u1.png">
									</span>
									<div class="abt-team-uName">
										Lorem Ipsum
									</div>
									<div class="abt-team-uDesgn">
										Lorem
									</div>
								</li>
							</ul>
						</div>
						<!-- About team ends here -->
						<div class="abt-company text-center hide child " id="testimonial">
							<div class="abt-title">
								TESTIMONIAL
							</div>
							<div id="myCarousel" class="carousel slide">
								<div class="carousel-inner" role="listbox">
									<ul class="item active testimonial" id="0">
										<li class="profile-list">
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>

											<h4>Hari Prasad</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>
										<li class="profile-list">
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>
											<h4>Vinod Kanana</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>
										<li class="profile-list" >
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>
											<h4>Hari Prasad</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>
									</ul>
									<ul class="item" id="1">
										<li class="profile-list">
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>

											<h4>Bala Subramani</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>
										<li class="profile-list">
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>
											<h4>Vijay Krishna</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>
										<li class="profile-list">
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>
											<h4>Arun Prasad</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>

									</ul>
									<ul class="item" id="2">
										<li class="profile-list">
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>

											<h4>Sathish Kumar</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>
										<li class="profile-list">
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>
											<h4>Aathis naveenan</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>
										<li class="profile-list">
											<span class="profile-img"> <img src="/midway/static/main/images/quotes.png"></span>
											<h4>Charukesh</h4>
											<p>
												lorem ipsum your text goes here lorem ipsum diet your text goes here
											</p>
										</li>
									</ul>
								</div>
								<ol class="carousel-indicators circle">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1" ></li>
									<li data-target="#myCarousel" data-slide-to="2" ></li>
								</ol>

							</div>
						</div>
						<!-- end here testimonal -->

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
$(document).ready(function() {
  function setHeight() {
    windowHeight = $(window).innerHeight() - 150;
    $('.aboutus-banner').css('min-height', windowHeight);
  };
  setHeight();

  $(window).resize(function() {
    setHeight();
  });

});
$(".abt-tab li").click(function(){
	$("li.active").removeClass("active");
    $(this).addClass("active");
    var getid=$(this).data('id');
    $(".abt-desc-content .child:not(.hide)").addClass("hide");
    console.log(getid);
    $("#"+getid).removeClass("hide");
});

if(window.location.href.indexOf('team')!=-1){
    $('.abt-tab li[data-id="our-team"]').trigger('click')
}else if(window.location.href.indexOf('testimonial')!=-1){
    $('.abt-tab li[data-id="testimonial"]').trigger('click')
}

$('.btn-knowmore').on('click', function(){
    $(window).scrollTop('600')
})
</script>
     {% include 'partials/footer-home.html' %}
