{% include 'partials/header.html' %}

<section id="faq">
    <div class="container">
        <div class="faq-container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 colRpad-zero divLheight ">
                    <ul class="faq-que">
                        <li class="active">
                            <a href="" data-id="GeneralQuestions">	General Questions</a>
                        </li>
                        <li>
                            <a href="" data-id="ForBuyers">	For Buyers</a>
                        </li>
                        <li>
                            <a href=""  data-id="ForSellers">	For Sellers</a>
                        </li>
                        <li>
                            <a href="" data-id="Privacypolicy">	Privacy policy</a>
                        </li>
                        <li>
                            <a href="" data-id="Shippingpolicy">	Shipping policy</a>
                        </li>
                        <li>
                            <a href="" data-id="CancellationReturnsRefunds">	Cancellation, Returns and Refunds</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 colLpad-zero divRheight faq-page">
                    <div class="faq-list child" id="GeneralQuestions">
                        <div class="faq-QA">
                            <h4>What is Textnook?</h4>
                            <p>TextNook is an online marketplace for connecting buyers (individuals/businesses who look to rent or buy) with sellers (individual/business who offer the books for rent/sale) across India.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>How does TextNook work?</h4>
                            <p>If you need any book, you can either browse our categories or search for the product. After selecting the product(s) you will be able to see the relevant sellers who are ready to sell or rent those books. After selecting to rent or buy, you will be directed to fill the shipping and payment details.</p>
                            <p>If you wish to post any book for sale/rent, use our “sell/rent books” feature, upload the details about the book you want to sell/rent etc.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Who benefits from TextNook?</h4>
                            <p>Students are the primary beneficiaries from TextNook. We are dedicated to help them save money by providing the choice of buying/renting new or used books at affordable prices.</p>
                            <p>Also students can choose to rent/sell their used textbooks.</p>
                            <p>Small businesses can also sell on TextNook, and they can reach across India are no longer limited by their geographical location.</p>
                            <p>The book shop owners can cater to the demand from students across India, thus they no longer may have to carry a pile of unsold textbooks in their shops/warehouses.</p>

                        </div>
                        <div class="faq-QA">
                            <h4>I have noticed that you have been referring to textbooks in good condition throughout your website. Can you elucidate what “good condition” means?</h4>
                            <p>We hold ourselves to high quality standards while selecting the textbooks that we offer for rent or buy on our website. </p>
                            <p>A textbook in "good condition" is always free from the following:</p>
                            <p>•	Stains</p>
                            <p>•	Water damage</p>
                            <p>•	Missing, loose, or torn pages/cover</p>
                            <p>•	Excessive writing/highlighting</p>
                            <p>•	Torn or damaged binding</p>
                            <p>•	Any other significant damage or disfigurement</p>
                            <p>It can have minor signs of wear and tear such as the following:</p>
                            <p>•	Some writing/highlighting</p>
                            <p>•	Rounded or dog-eared corners</p>
                            <p>•	Minor scrapes or scratches</p>
                            <p>•	Faded cover art</p>
                            <p>•	Creased pages</p>
                            <p>Also, the book has to have all the supplementary items such as original CDs/DVDs, work books or any other forms of study aids.</p>

                        </div>
                        <div class="faq-QA">
                            <h4>What type of payment methods do you accept for purchases?</h4>
                            <p>We offer the following payment options:</p>
                            <p>•	Credit/debit cards issued by all major banks</p>
                            <p>•	Net banking</p>
                            <p>•	COD(Cash on Delivery)</p>

                        </div>
                    </div>
                    <!-- end of general question -->
                    <div class="faq-list child hide" id="ForBuyers">
                        <div class="faq-QA">
                            <h4>What kind of textbooks can I rent/buy?</h4>
                            <p>All the professional textbooks that are part of the syllabus of any Indian University recognized by UGC. All professional streams such as Medical, Engineering, Agricultural, Legal and Accounting, Finance, etc from all major publishers.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>How long can I keep a book on rent?</h4>
                            <p>You can keep the books till the rent duration specified by the seller in the listing.</p>

                        </div>
                        <div class="faq-QA">
                            <h4>Can I buy the textbook I rented?</h4>
                            <p>If you don’t attempt to return the book at the end of rental period, it is assumed that you want to keep the book for yourself and you will not get any cash back, that you would have got in case you returned the books on time.</p>

                        </div>
                        <div class="faq-QA">
                            <h4>How do I know whether the book that is listed on TextNook is new or used?</h4>
                            <p>For any book listed on our site, the sellers mention the details about the condition of the book. </p>
                        </div>
                        <div class="faq-QA">
                            <h4>I don’t find the book I want in the search results. What do I do?</h4>
                            <p>In case you don’t find the book you want, you are provided an option of adding the details of that book. We will try to get that particular book for you. </p>
                        </div>
                    </div>
                    <!-- end of buyers que -->

                    <div class="faq-list child hide" id="ForSellers">
                        <div class="faq-QA">
                            <h4>Can I sell/rent books other than textbooks?</h4>
                            <p>As of now, TextNook is dedicated towards providing an exclusive platform for textbooks. So, you can only offer textbooks for sale/rent on our platform.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Do I need to pay any registration or listing fees?</h4>
                            <p>No, TextNook does not charge any registration or listing fees from any of its sellers. You will only be charged a nominal fee on any transaction you carry out.</p>

                        </div>
                        <div class="faq-QA">
                            <h4>Can I sell or rent used books?</h4>
                            <p>Yes, you can sell or rent the used books, but the books should be in a good condition. Also, it is mandatory to specify the condition of the book (new/used, any damages etc) while you list it on TextNook.</p>

                        </div>
                        <div class="faq-QA">
                            <h4>Can I only choose to sell my books, without offering for rent? </h4>
                            <p>Yes, you can choose either to sell or rent or you can opt for both sell/rent for any of the books you list on TextNook.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Can I cancel my account?</h4>
                            <p>You can cancel your account, after settling (if any) pending deliveries or payments.</p>
                        </div>
                    </div>
                    <!-- end of sellers que -->
                    <div class="faq-list child hide" id="Privacypolicy">
                        <div class="faq-QA">
                            <p>We value the trust you place in us. Your privacy is important to us, and TextNook is aware of the confidentiality of its customer’s personal information. Please read the following statement to learn about our information gathering and dissemination practices. </p>
                        </div>
                        <div class="faq-QA">
                            <h4>What are the types of information that we collect?</h4>
                            <p>We collect personal information when you register on the website, order a product, or fill out a form. This personal information may include your name, address, gender, e-mail address, telephone number, etc.</p>
                            <p>You may also need to enter your personal information when using certain services on the website, like, providing financial information, contacting us by e-mail, or registering with us. </p>

                        </div>
                        <div class="faq-QA">
                            <h4>What do we use your information for?</h4>
                            <p>Your personal information is used only for the following reasons:</p>
                            <p>• To provide customer services, create and manage user accounts.</p>
                            <p>• To assist you with technical difficulties.</p>
                            <p>• To respond your inquiries. </p>
                            <p>• To send you important information about the website and changes in the terms and policies of the website.</p>
                            <p>• To help you in fulfilling your purchase, and provide you with customer care.</p>
                            <p>• To send you e-mails regarding company news, product information, special offers, and updates.</p>
                            <p>• To process your transactions and provide support after your visit to our website.  </p>
                            <p>• To help improve advertising and other services on the website. </p>
                            <p>• For data analysis and internal reviews of the website. </p>
                            <p>NOTE: Your personal information will not be sold or transferred to any other company or organization, without your consent.</p>

                        </div>
                        <div class="faq-QA">
                            <h4>Protecting your information </h4>
                            <p>We use many security measures to ensure that your personal information is secure. TextNook uses an online payment gateway operated by a third party. Your payment information is transmitted using Secure Socket Layer (SSL) and encrypted on our payment gateway provider's database. Your card information/bank details will not be saved on our servers after the transaction.  </p>
                        </div>
                        <div class="faq-QA">
                            <h4>Third party products and services</h4>
                            <p>We may have third party services and products on our site. We are not liable or responsible for any of the activities and content on these sites. These sites have their own privacy policies. These third party providers may collect information about your interaction and visits to our website. But they do not have access to your personal information like your name, residential address, e-mail address, phone number, etc.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Aggregated statistics</h4>
                            <p>TextNook may collect statistics about the behavior of visitors to its website. For instance, TextNook may monitor the most popular books on the site. TextNook may display this information publicly or provide it to others. However, TextNook does not disclose personally-identifying information other than as described below.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Disclosing information to other parties</h4>
                            <p>TextNook does not sell, transfer or trade your personal information to outside parties. We do not release personal information, but we will disclose information when we are legally obligated to provide information to third parties or the government. We may also disclose information to comply with the legal process or an applicable law. Anonymous user information may be given to third party sites for advertising and marketing purposes.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Changes to our privacy policy</h4>
                            <p>If we decide to change our privacy policy, we will post those changes on this page.
                                Although most changes are likely to be minor, TextNook may change its Privacy Policy from time to time, and in TextNook sole discretion.
                            </p>
                        </div>
                        <div class="faq-QA">
                            <h4>User's personal information</h4>
                            <p>If you do not want to provide personal information, you can do so, but you will not be able to fully use the website's features and services. You can also make changes to your personal information, but we will have a copy of the original version.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>General provisions</h4>
                            <p>By using this website, you have agreed to all the terms in this policy. Please read the Terms & Conditions and other policies before accessing the website. We may change the policy from time to time, so you are requested to visit the website regularly to see the changes in the policy. If you do not agree to the terms of the policy, you are advised to not proceed further.</p>
                            <p>Your visit and any dispute over privacy are subject to this policy and the website's terms and conditions. Any disputes arising from this policy shall be governed by the laws of India.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Contact us</h4>
                            <p>If there are any questions regarding this privacy policy you may contact us using the information below. Please e-mail us at <a href="">service@textnook.in</a> or call us at 1-800-200-6353.</p>
                        </div>
                    </div>
                    <!-- end of privacy policy que -->
                    <div class="faq-list child hide" id="Shippingpolicy">
                        <div class="faq-QA">
                            <h4>What are the shipping charges?</h4>
                            <p>We intend to make online shopping experience seamless. You may be charged a flat fee per item you order or avail free shipping offered by some sellers if you shop with them for a minimum predefined value. Any delivery charges will be mentioned by the sellers against the item’s listing on TextNook. </p>
                            <p>If you are returning the book(s) before seven (7) days for a full refund, then the shipping expenses have to be borne by you.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Do I need to pay any registration or listing fees?</h4>
                            <p>No, TextNook does not charge any registration or listing fees from any of its sellers. You will only be charged a nominal fee on any transaction you carry out.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>How long does it take to receive my shipment?</h4>
                            <p>Most of the sellers on platform process and ship the orders in the first 2-3 days from the date of order and most of the orders will be delivered in 5-7 days from the date of shipment.</p>
                            <p>However, the time taken for delivery is seller specific and they mention the approximate timelines against the books they are offering on TextNook. </p>
                            <p>In case of the places, where the reputed national shipping/courier companies do not have coverage, sellers may deliver via India Post and the delivery time could be longer.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Where all do you deliver? </h4>
                            <p>We ship to all parts of India. We do not ship to international destinations.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>What do I do if I don’t receive my order on time?</h4>
                            <p>We regret the inconvenience caused because of the undue delay. Please call us at 1-800-200-6353 or drop us an e-mail to <a href="">service@textnook.in</a>  with the details of the order. We will work on tracking the same and getting it delivered to you.</p>
                            <p>However, kindly note that neither the carrier nor TextNook or its sellers take responsibility for delays caused due to inclement weather or situations that are beyond our control.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>How do I track my order?</h4>
                            <p>You can track the shipments using the tracking number provided by the respective carriers.  In case of India Post, please note that you may not get the exact details of the status as it gets updated periodically.</p>
                        </div>
                    </div>
                    <!-- end of shipping policy que -->
                    <div class="faq-list child hide" id="CancellationReturnsRefunds">
                        <div class="faq-QA">
                            <h4>Cancellation Policy</h4>
                            <p>•	If your order has not been processed and shipped yet, we will cancel the transaction for you and initiate the refund process.</p>
                            <p>•	However, if the order has been shipped already, you have the option of returning, either for an exchange or a full refund.</p>
                            <p>•	Please e-mail us at service@textnook.in or call us at 1-800-200-6353 with the transaction details.</p>
                        </div>
                        <div class="faq-QA">
                            <h4>Return Policy</h4>
                            <p>•	Most sellers offer a 7-day return policy. </p>
                            <p>•	However, sellers can choose to set their own return policy for the books they offer to sell/rent on TextNook. </p>
                            <p>•	Examine the seller's return policy carefully before you buy or rent the item. </p>
                            <p>•	In case of returns for full refund, the items must be unworn, original condition. It takes 2-3 weeks time for processing the refund.</p>
                            <p>•	If you are returning the book(s) before seven (7) days for a full refund, then the shipping expenses have to be borne by you.</p>
                            <p>NOTE: BUYER MUST GO THROUGH THE SELLER’S PROFILE THOROUGHLY BEFORE PLACING AN ORDER FROM SELLER.</p>
                        </div>
                    </div>
                    <!-- end of shipping policy que -->
                </div>
            </div>
        </div><!--/container-->

    </section>
<script>
$(document).ready(function() {
  function setHeight() {
    windowHeight = $(window).innerHeight() - 150;
    $('.aboutus-banner').css('min-height', windowHeight);
  };
  setHeight();

  $(window).resize(function() {
    setHeight();
  });



});
 $(".faq-que li a").click(function(e){
    e.preventDefault();
   $(".faq-que li.active").removeClass("active");
   $(this).closest('li').addClass("active");
   var getid=$(this).attr('data-id');
   getid=getid.trim();
   $(".faq-page .child:not(.hide)").addClass("hide");
   $("#"+getid).removeClass("hide");
});

if(window.location.href.indexOf('privacy_policy')!=-1){
    $('.faq-que li a[data-id="Privacypolicy"]').trigger('click')
}
</script>
     {% include 'partials/footer-home.html' %}
