    
     {% include 'partials/header-home.html' %}
      
  <section id="search-area">
    <div class="search-area container-fluid">
      <div class="search-area-text">
        <h1>AN EXCLUSIVE MARKETPLACE FOR NEW OR USED TEXTBOOKS</h1>
          <H2>BUY | RENT | SELL</H2>
        <p>"We read to know we are not alone" - C.S.Lewis <br>Saving time, energy and money is just a click away now. </p>
      </div>
      <div class="search-area-form input-group">
        <input type="text" class="form-control mega-search-box" placeholder="Search using title, author, ISBN etc">
        <span class="input-group-btn">
          <button class="btn btn-mega-search" type="button"></button>
        </span>
      </div>
          <a href="/books/search/" class="browse_categories">Browse Categories</a>


    </div>
      <div class="scroll-btm text-center">
			<a href="#how-it-works">
				<img src="/midway/static/main/images/scroll-down.png" alt ="Scrool down to Textnook.com" height="14" width="25">
				<!-- <i class="fa fa-chevron-down"></i> -->
				<p>Scroll for more</p>
			</a>
    </div>
  </section>
</section>

     <section id="tabSection">
		<div class="div-tab">
			<ul>
				<li class="active tab_user" data-type="buyer">I'm a Buyer</li>
				<li class="tab_user" data-type="seller">I'm a Seller</li>
			</ul>
		</div>
		<div id="how-it-works">
			<div class="hiw container-fluid">

				<div class="hiw-content hiw-buyer">
                    			<div class="hiw-desc">
					<h2>How it works</h2>
					<p>We understand and cater to the academic needs of an ardent student as well as his/her pocket.<BR>Get New/Used textbooks at an affordable price.<br>Happy reading!
					</p>
				</div>
					<div class="hiw-box">
						<div class="hiw-line"></div>
						<img src="/midway/static/main/images/hiw-icon1.png " alt="Browse Cheap Textbooks from TextNook.com" height ="64" width="64">
						<h4>Browse Textbooks</h4>
						<p>Search for your awesome textbook from our wide selection of textbooks.If you don’t find it, let us know, we’ll get it for you. After all,you are our "precious" &#9786;!</p>
					</div>
					<div class="hiw-box">
						<div class="hiw-line"></div>
						<img src="/midway/static/main/images/hiw-icon2.png " alt="Choose a seller" height ="64" width="61">
						<h4>Choose a seller.</h4>
						<p>You have the power to choose who to buy from.Be it the price or condition of the textbook or if the seller is cute, so on, go ahead and make your pick! *Choose wisely*.</p>
					</div>
					<div class="hiw-box">
						<div class="hiw-line"></div>
						<img src="/midway/static/main/images/hiw-icon3.png" alt="Guaranted Delivery from TextNook.com" height ="64" width="64">
						<h4>Guaranteed Delivery</h4>
						<p>Now that you’ve bought/rented your textbooks, sit back and relax because the textbook(s) is on its way to your doorstep. Learning however is ALL to you!</p>
					</div>
					<div class="hiw-box">
						<img src="/midway/static/main/images/hiw-icon4.png" alt="Return or sell them on TextNook.com" height ="64" width="64">
						<h4>Return or sell them</h4>
						<p>Have no place for textbook you just finished? Sell here!Loved the textbook you rented but sadly have to part way?Cheer up! You’re getting money back!</p>
					</div>
				</div>
				<div class="hiw-content hiw-seller hide">
                    			<div class="hiw-desc">
					<h2>How it works</h2>
					<p>Do you have stacks of brilliant textbooks that others must lay their hands on? <br> Well, congratulations! Now you can!<br> Sell or rent out textbooks, along with the liberty to set prices for the same, across India.
                                    </p>
				</div>
					<div class="hiw-box">

						<div class="hiw-line"></div>
						<img src="/midway/static/main/images/hiw-icon5.png" alt="Browse Books from TextNook.com" height ="60" width="60">
						<h4>Register as seller</h4>
						<p>You have found the ultimate portal through which you can reach buyers all over the country. You are not only registering to sell, but registering for happiness.</p>
					</div>
					<div class="hiw-box">
						<div class="hiw-line"></div>
						<img src="/midway/static/main/images/hiw-icon6.png" alt="Choose a seller from TextNook.com" height ="62" width="69">
						<h4>Upload Inventory</h4>
						<p>Upload the book(s) you want to sell. It can be 1, 2, 3…100 or even more! You also have the power to decide the price of your book. Remember, the more or merrier! </p>
					</div>
					<div class="hiw-box">
						<div class="hiw-line"></div>
						<img src="/midway/static/main/images/hiw-icon3.png" alt="Guaranted Delivery from TextNook.com" height ="64" width="64">
						<h4>Delivery the Books</h4>
						<p>Devise a plan of action with us in order to deliver your textbook(s) to the buyer(s). You don’t have to worry too much, we believe in Esprit de Corps! </p>
					</div>


                    <div class="hiw-box mar-bt"><br>
						<img src="/midway/static/main/images/hiw-icon7.png" alt="Return or sell them from TextNook.com" height ="48" width="65">
						<h4>Get Paid</h4>
						<p>What a win-win situation we have here! Look at that smile on your wallet.</p>
					</div>

				</div>
			</div>
		</div>
		<div id="features">
			<div class="features container-fluid">
				<div class="features-head">
					<h2>Features</h2>
					
				</div>
                <div class="features-details fd-seller hide">
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon7.png" alt="Logistics Supported by TextNook.com" height ="33" width="41">
						</div>
						<div class="features-desc"><h3>Logistics Supported</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon8.png" alt="Pan exposure from TextNook.com" height ="36" width="42">
						</div>
						<div class="features-desc"><h3>Pan India Exposure</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon9.png" alt="Textnook.com helpd manage your inventory" height ="38" width="40">
						</div>
						<div class="features-desc"><h3>Tools to Manage Inventory</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon10.png" alt="No subscription needed on textnook.com" height ="42" width="32">
						</div>
						<div class="features-desc"><h3>No Subscription, No Lock in Periods</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon11.png" alt="Textnook charges nominal fee for transaction" height ="33" width="41">
						</div>
						<div class="features-desc"><h3>Nominal Fees Per transaction</h3></div>
					</div>
				</div>
				<div class="features-details fd-buyer">
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon1.png" alt="Textnook helps you maintain low cost of ownership" height ="36" width="37">
						</div>
						<div class="features-desc"><h3>Low cost of ownership</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon2.png" alt="Free shipping from TextNook.com" height ="36" width="37">
						</div>
						<div class="features-desc"><h3>Free shipping</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon3.png" alt="Pan India Delivery from TextNook.com" height ="36" width="37">
						</div>
						<div class="features-desc"><h3>Pan India Delivery</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon4.png" alt="Secure payments on textnook" height ="36" width="37">
						</div>
						<div class="features-desc"><h3>Secured Payments</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon5.png" alt="Textnook gives you rewards and referrals" height ="36" width="32">
						</div>
						<div class="features-desc"><h3>Rewards and referrals</h3></div>
					</div>
					<div class="features-col col-lg-4">
						<div class="features-image">
							<img src="/midway/static/main/images/features-icon6.png" alt="Get verified textbook sellers on textnook" height ="36" width="36">
						</div>
						<div class="features-desc"><h3>Verified Sellers</h3></div>
					</div>
				</div>

			</div>
		</div>
	</section>

     {% if user.is_anonymous %}

  <section id="register-now">
    <div class="register-now container-fluid">
      <p><span>So what are you waiting for?</span> Start buying selling and renting your textbooks on TextNook</p>

            <button class="btn btn-lightGreen authentication" data-type="signup">REGISTER NOW</button>
      <div class="hr-shadow"></div>
    </div>
  </section>
             {% endif %}

	<script src="/midway/static/main/js/modernizr.custom.87232.js"></script>
	<script src="/midway/static/main/js/wow.js"></script>
	<script>
		new WOW().init();
	</script>
     <script>
        $('.tab_user').on('click',function(){

            $('.tab_user').removeClass('active')
            $(this).addClass('active')

            if($(this).attr('data-type')=='buyer'){
                $('.hiw-buyer').removeClass('hide')
                $('.fd-buyer').removeClass('hide');

                $('.hiw-seller').addClass('hide');
                $('.fd-seller').addClass('hide');

            }else{
                $('.hiw-seller').removeClass('hide')
                $('.fd-seller').removeClass('hide');

                $('.hiw-buyer').addClass('hide')
                $('.fd-buyer').addClass('hide')

            }
        })
        </script>
  <script src="static/app/home/js/script.js"> </script>
 <script type="text/javascript" src="/midway/static/main/js/script.js"></script>
    <script type="text/javascript" src="/midway/static/app/accounts/js/auth.js"></script>
    <script type="text/javascript" src="/midway/static/app/books/js/search.js"></script>
  {% include 'partials/footer-home.html' %}

    