     {% include 'partials/header.html' %}

	<section id="terms_conditions">
		<div class="container">
			<div class="tc-title">
				Terms & Conditions
			</div>

			<p>The terms of use along with other guidelines such as the Privacy Policy form the Agreement and are referred to as “Agreement” hereafter. TextNook Online Books Private Limited is referred to as “TextNook”, “we”, “our” or “us”. People who use services offered by this website are referred to “user”, “you”, “your”.</p>

			<p><strong>IMPORTANT:</strong> This Agreement is a legal document between the user and TextNook and has Terms & Conditions that governs your usage of services on this website.</p>

			<p>These are applicable regardless of how you access them, whether using a computer, a mobile device, or otherwise; and whether directly through our services or through any third-party website that links to them, regardless of whether you are a registered user or a guest.</p>

			<p><strong>PLEASE READ THE AGREEMENT CAREFULLY.</strong> If you do not agree to these terms and conditions, you are not authorized to use the services and you must stop all such use immediately.</p>

			<h5>Account Registration & Membership:</h5>
			<span></span>
			<ul>
				<li>
					<p>TextNook Marketplace’s services are available only to, and may only be used by, individuals who are 18 years and older who can form legally binding contracts under applicable law.</p>
				</li>

				<li>
					<p>You agree to create only one TextNook account for the use of services.</p>
				</li>

				<li>
					<p>You agree to provide complete and accurate information while registering and agree to keep it updated during the course of your membership.</p>
				</li>

				<li>
					<p>You agree not to impersonate and create accounts on someone else’s behalf. You also agree to not sell or transfer your membership to others as these are not recognized by us.</p>
				</li>

				<li>
					<p>You are solely responsible for maintaining the confidentiality of your password and for any and all use of your account. You agree to not use the account, username, or password of another user at any time, nor to disclose your password to any third party.</p>
				</li>

				<li>
					<p>You agree to notify us immediately if you suspect any unauthorized usage of your account or access to your password. </p>
				</li>

				<li>
					<p>We reserve the right to terminate your account for any reason at our sole discretion without notice and without	liability.</p>
				</li>

				<li>
					<p>We reserve the right to reject any registration and to refuse service to anyone for any reason, at our sole and absolute discretion.</p>
				</li>

				<li>
					<p>You are free to cancel your account at anytime provided that you return all books that are in your possession (in case of rented books) or settle all the pending deliveries or payments (in case of sellers).</p>
				</li>
			</ul>

			<h5>Copyright & Intellectual Property:</h5>
			<span></span>
			<ul>
				<li>
					<p>TextNook develops and operates this website. All information displayed, transmitted, or carried on this website is protected by copyright and other intellectual property laws.</p>
				</li>

				<li>
					<p>You must not copy, reproduce, republish, upload, post, transmit or distribute such material in any way, including by e-mail or other electronic means, directly or indirectly, and you must not assist any other person to do so.</p>
				</li>

				<li>
					<p>You agree to abide by the copyright rules indicated by the publishers while renting books on our platform. </p>
				</li>

				<li>
					<p>Violating the copyright rules is strictly prohibited. You are solely responsible for any legal actions initiated by	publishers and TextNook will not be held responsible for any indemnification procedures by third parties.</p>
				</li>
			</ul>

			<h5>Usage of services:</h5>
			<span></span>
			<ul>

				<li><p>You shall not hold TextNook liable or responsible for non-availability of its website either due to internet connectivity speeds or errors on your computer or during periodic maintenance operations or any unplanned suspension of access to the website that may occur due to technical reasons or for any reason beyond our control.</p>
				</li>

				<li>
					<p>We reserve the right, in our sole discretion, to make changes to or discontinue any of the services at any time.</p>
				</li>

				<li>
					<p>Any description of the services provided by us is not a representation that the services are working or will always work in that manner, as we are continuously updating these services, and the updates may not always be reflected in the Terms of Use in real time.</p>
				</li>

				<li>
					<p>You agree not to upload and/or transmit images and/or material that are grossly harmful, harassing,	blasphemous, defamatory, obscene, pornographic, invasive of another person's privacy, hateful, or racially/culturally objectionable.</p>
				</li>

				<li>
					<p>We reserve the right to pursue users who do not return the books or default on their responsibility (to return the books or money).</p>
				</li>
			</ul>

			<h5>Product & Pricing Information:</h5>
			<span></span>
			<ul>

				<li>
					<p>TextNook strives to keep the information as accurate as possible. But in case of any discrepancies/ typographical errors, the sellers reserve the right to decide the selling/rental price of the book.</p>
				</li>

				<li>
					<p>The images of book(s) shown are for indicative purposes only. These are not true representations of the condition of the books that you may be getting while you rent/buy from any of the sellers selling on our platform.</p>
				</li>
			</ul>

			<h5>Other general conditions:</h5>
			<span></span>

			<ul>
				<li>
					<p><strong>Lost books:</strong> You agree to pay the full cost of the book in case you lose the book during the rental period.</p>
				</li>

				<li>
					<p><strong>Returning the wrong book:</strong> If you return the wrong book or personal property to the seller, they will attempt to return it to you, but will not be held responsible if their efforts are unsuccessful. However, they cannot be held responsible for failure to do so. If you do not authorize them to return the book to you at your cost within 14 days, they will treat the book as abandoned and may donate it, recycle or liquidate it.</p>
				</li>

				<li>
					<p><strong>Abandoned books:</strong> In case of renting, sellers may need to contact you to determine whether you wish to have books returned to you at your expense. For example, this may occur if you return/send a book to us that has been damaged beyond repair and you are charged for a replacement book, or if you return the wrong book to us. In such circumstances, TextNook will attempt to contact you at the e-mail address you have on record with us to enquire from you what you would like for us to do with the book. If you do not respond to our e-mail within 45 days, we will assume that you have abandoned the book and we may, in our discretion, donate the book to charity, recycle or liquidate it.</p>
				</li>
			</ul>

			<h5>Limitation of Liability:</h5>
			<span></span>

			<p>In no event shall we be liable for any special, incidental, indirect or consequential damages of any kind in connection with this document or the sale of item(s) by the sellers, even if we have been informed in advance of the possibility of such damages.</p>

			<h5>Applicable Law & Arbitration:</h5>
			<span></span>

			<p>All transactions and arbitration thereof shall be governed by, interpreted and construed in accordance with the laws of India. The place of jurisdiction is exclusively in Bengaluru, Karnataka.</p>

			<h5>Additional conditions applicable to Sellers</h5>
			<span></span>
			<ul>
				<li>
					<p>By listing a book on TextNook you agree that you have the right to sell the item, the item is in your possession and that your description provided in your listing is complete and accurate.</p>
				</li>

				<li>
					<p>You agree to sell/rent the books for the price you mentioned against that item’s listing on TextNook.</p>
				</li>

				<li>
					<p>You agree to provide accurate information about the condition of the book, which you offer to sell or rent through TextNook.</p>
				</li>

				<li>
					<p>You remain solely responsible for the content of the materials you post anywhere on TextNook.</p>
				</li>

				<li>
					<p>TextNook charges a percentage of every transaction value as fees, and you agree to pay this for using the marketplace services of TextNook.</p>
				</li>

				<li>
					<p>You agree not to contact the buyers directly and any communication between you and buyer should happen only through TextNook.</p>
				</li>

				<li>
					<p>TextNook may obtain reimbursement of any amounts owed by you to TextNook by deducting from future payments owed to you.</p>
				</li>

				<li>
					<p>You agree not to cancel your account, without settling any pending deliveries or payments.</p>
				</li>

				<li>
					<p>You agree to accept the books returned by buyers as per the return policy mentioned by you against the books you offer on TextNook.</p>
				</li>

				<li>
					<p>In case of renting the books, you agree to accept the books at the end of the rental period and to release the corresponding return amount that the buyer is entitled to get.</p>
				</li>
			</ul>
			<h5>Additional conditions applicable to Buyers</h5>
			<span></span>

			<ul>
				<li>
					<p>You are free to buy/rent the required books from any of the sellers, who are offering it on TextNook.</p>
				</li>


				<li>
					<p>The prices mentioned against the books listed on TextNook are determined by their respective sellers and textNook has no role in deciding the same.</p>
				</li>

				<li>
					<p>The sellers offering the books on TextNook may have different shipping and return policies; hence you should check the policies of the specific seller from whom you choose to buy/rent, for exact information.</p>
				</li>

				<li>
					<p>In rental case, you agree to return all the rented books at the end of rental period or shall forego the amount that you would have got, in case you had returned the rented books on time.</p>
				</li>

				<li>
					<p>You agree to pay the full cost of the book in case you lose the book during the rental period.</p>
				</li>
			</ul>
		</div>
	</section>

     {% include 'partials/footer-home.html' %}
