{% include 'partials/header.html' %}
		      <div id="page-content-wrapper">
                  <span class="error_display"></span>
<div class="col-lg-4">
<form class="reset_password_form">
 <div class="input-group">
  <span class="input-group-addon">
    <img src="/midway/static/main/images/lock-icon.png" alt="M">
  </span>
  <input type="password" name="password" class="form-control" placeholder="Password">
</div>
<div class="input-group">
  <span class="input-group-addon">
    <img src="/midway/static/main/images/lock-icon.png" alt="M">
  </span>
  <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password">
</div>
<div class="signupBtn">
  <button type="submit" data-key="{{key}}" id="reset-pwd" class="btn btn-reset-pwd">RESET PASSWORD</button>
</div>
</form>
</div> </div>
<script type="text/javascript" src="/midway/static/main/js/script.js"></script>
    <script type="text/javascript" src="/midway/static/app/accounts/js/auth.js"></script>
     {% include 'partials/footer-home.html' %}
